@ViewData["Index"]= "Index"

<form asp-action = "Index">
    <label>Nhập PDTD328Id</label>
    <input type="text" name="PDTD328Id">
    <label>Nhập PDTD328Name</label>
    <input type="text" name="PDTD328Name">
    <label>Nhập PDTD328Address</label>
    <input type="text" name="PDTD328Address">
    <input type="submit" value="sent">
</form>
<h1>Dữ liệu gửi về @ViewBag.Dat</h1>